extends layout

block content
	h1
		a(href="/") Olutsaatavuus
	p Myymälästä #{storeName} saatavat oluet:
	
	for item in availability
		for store in item.availability
			-if(storeName == store.store)
				li 					
					a(href="/store/" + store.store + "/" + item.name) #{item.name} <b> #{store.amount} </b>

