body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
  text-decoration: none

chart_div
  background-color: #00B7FF
  width: 700px
  height: 240px

.axis path,
.axis line 
  fill: none
  stroke: #000
  shape-rendering: crispEdges

.x.axis path
  display: none

.line
  fill: none
  stroke: steelblue
  stroke-width: 1.5px